In [9]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/codespace/.local/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4) (2.6)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import textwrap

In [11]:
def split_string(s):
    return textwrap.wrap(s, 2)

In [12]:
URL = "https://www.lottodatabase.com/lotto-database/american-lotteries/washingtonlotto/draw-history/1984"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")
results= soup.find_all("div", class_="section group")
r = results[1]
results_1 = r.text.split('\xa0')
drawing_list = []
for r1 in results_1:
    if r1.strip():
        r1 = r1.replace("\n\n",'')
        drawing_list.append(r1)

In [16]:
results_1

['\n\nSaturday, December 29, 1984222427363940',
 '',
 '',
 '',
 '',
 '',
 'Saturday, December 22, 198431113141539',
 '',
 '',
 '',
 '',
 '',
 'Saturday, December 15, 198432223253336',
 '',
 '',
 '',
 '',
 '',
 'Saturday, December 8, 19844617293340',
 '',
 '',
 '',
 '',
 '',
 'Saturday, December 1, 198451124283233',
 '',
 '',
 '',
 '',
 '',
 'Saturday, November 24, 19842311131534',
 '',
 '',
 '',
 '',
 '',
 'Saturday, November 17, 1984268171921',
 '',
 '',
 '',
 '',
 '',
 'Saturday, November 10, 19846713163437',
 '',
 '',
 '',
 '',
 '',
 'Saturday, November 3, 198461423263738',
 '',
 '',
 '',
 '',
 '',
 'Saturday, October 27, 1984101114192739',
 '',
 '',
 '',
 '',
 '',
 'Saturday, October 20, 1984142124282939',
 '',
 '',
 '',
 '',
 '',
 'Saturday, October 13, 1984131522253738',
 '',
 '',
 '',
 '',
 '',
 'Saturday, October 6, 1984202728293740',
 '',
 '',
 '',
 '',
 '',
 'Saturday, September 29, 19843914152438',
 '',
 '',
 '',
 '',
 '',
 'Saturday, September 22, 198411228293134',
 '',
 '',
 '',
 '',
 '',
 'Saturday, September 15, 198431115202329',
 '',
 '',
 '',
 '',
 '',
 'Saturday, September 8, 198481116172940',
 '',
 '',
 '',
 '',
 '',
 'Saturday, September 1, 198482021253240',
 '',
 '',
 '',
 '',
 '',
 'Saturday, August 25, 1984349172129',
 '',
 '',
 '',
 '',
 '',
 'Saturday, August 18, 19841810153239',
 '',
 '',
 '',
 '',
 '',
 'Saturday, August 11, 1984369123234',
 '',
 '',
 '',
 '',
 '',
 'Saturday, August 4, 1984172729303440',
 '',
 '',
 '',
 '',
 '',
 'Saturday, July 28, 198461623293340',
 '',
 '',
 '',
 '',
 '',
 'Saturday, July 21, 198432122282935',
 '',
 '',
 '',
 '',
 '',
 '\n\n\n\n\n\n\n']

In [13]:
draw_list_formatted=[]
for draw in drawing_list:
    year = draw.split(',')[2].strip()[:4]
    draw_date = f"{draw.split(',')[1]}, {year}"
    numbers = split_string(draw.split(',')[2].strip()[4:])
    keys = []
    for p in range(1,7):
        position = f"Pos_{p}"
        keys.append(position)
    dictionary = dict(zip(keys, numbers))
    dictionary['Draw_date'] = draw_date.strip()
    draw_list_formatted.append(dictionary)

In [14]:
drawing_df = pd.DataFrame.from_records(draw_list_formatted)
drawing_df

   Pos_1 Pos_2 Pos_3 Pos_4 Pos_5 Pos_6           Draw_date
0     22    24    27    36    39    40   December 29, 1984
1     31    11    31    41    53     9   December 22, 1984
2     32    22    32    53    33     6   December 15, 1984
3     46    17    29    33    40   NaN    December 8, 1984
4     51    12    42    83    23     3    December 1, 1984
5     23    11    13    15    34   NaN   November 24, 1984
6     26    81    71    92     1   NaN   November 17, 1984
7     67    13    16    34    37   NaN   November 10, 1984
8     61    42    32    63    73     8    November 3, 1984
9     10    11    14    19    27    39    October 27, 1984
10    14    21    24    28    29    39    October 20, 1984
11    13    15    22    25    37    38    October 13, 1984
12    20    27    28    29    37    40     October 6, 1984
13    39    14    15    24    38   NaN  September 29, 1984
14    11    22    82    93    13     4  September 22, 1984
15    31    11    52    02    32     9  September 15, 1984
16    81    11    61    72    94     0   September 8, 1984
17    82    02    12    53    24     0   September 1, 1984
18    34    91    72    12     9   NaN     August 25, 1984
19    18    10    15    32    39   NaN     August 18, 1984
20    36    91    23    23     4   NaN     August 11, 1984
21    17    27    29    30    34    40      August 4, 1984
22    61    62    32    93    34     0       July 28, 1984
23    32    12    22    82    93     5       July 21, 1984

In [15]:
# test = 'Saturday, December 29, 1984222427363940'
# year = test.split(',')[2].strip()[:4]
# draw_date = f"{test.split(',')[1]}, {year}"
# numbers = split_string(test.split(',')[2].strip()[4:])
# keys = []
# for p in range(1,7):
#     position = f"Pos_{p}"
#     keys.append(position)
# dictionary = dict(zip(keys, numbers))
# dictionary['Draw_date'] = draw_date.strip()
# print(dictionary)