In [30]:
pip install beautifulsoup4 # type: ignore

Requirement already satisfied: beautifulsoup4 in /home/codespace/.local/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4) (2.6)
Note: you may need to restart the kernel to use updated packages.

In [31]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import requests
import textwrap

In [32]:
start_year = 1984
end_year = 2025

draw_years = np.arange(start_year, end_year + 1)

In [33]:
total_draw_data =[]
for draw_year in draw_years:
    URL = "https://www.lottodatabase.com/lotto-database/american-lotteries/washingtonlotto/draw-history/1985".format(draw_year)
    page = requests.get(URL)

    soup = BeautifulSoup(page.content, "html.parser")
    results= soup.find_all("div", class_="section group")
    res = results[1].find_all("div","section group")
    for r in res:
        draw_info ={}
        draw_date = r.find("div",class_="col s_3_12").text
        draw_info["draw_date"] = draw_date
        pos=1
        for w in r.find_all("span",class_="white ball"):
            col_pos = f"Pos_{pos}"
            draw_info[col_pos] = w.text
            pos=pos+1
        total_draw_data.append(draw_info)

In [34]:
draw_df = pd.DataFrame.from_records(total_draw_data)

In [35]:
draw_df.describe

                        draw_date Pos_1 Pos_2 Pos_3 Pos_4 Pos_5 Pos_6
0     Saturday, December 28, 1985     9    21    22    24    25    29
1     Saturday, December 21, 1985    28    34    35    37    40    43
2     Saturday, December 14, 1985     3     4    22    36    40    41
3      Saturday, December 7, 1985     4     8    10    28    32    43
4     Saturday, November 30, 1985     7    12    18    29    32    38
...                           ...   ...   ...   ...   ...   ...   ...
2179   Saturday, February 2, 1985     3    10    24    26    27    39
2180   Saturday, January 26, 1985     4     5    17    24    31    38
2181   Saturday, January 19, 1985     1    10    12    26    34    38
2182   Saturday, January 12, 1985    12    14    22    27    34    40
2183    Saturday, January 5, 1985    10    19    24    25    30    37

[2184 rows x 7 columns]